[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
[submodule "paladin-programs/lockup"]
	path = paladin-programs/lockup
	url = https://github.com/paladin-bladesmith/lockup-program.git
[submodule "paladin-programs/funnel"]
	path = paladin-programs/funnel
	url = https://github.com/paladin-bladesmith/funnel.git
[submodule "allnodes/protos"]
	path = allnodes/protos
	url = https://github.com/allnodes/solana-allnodes-protos.git
[submodule "allnodes/sdk"]
    path = allnodes/sdk
    url = https://github.com/allnodes/solana-sdk.git
    branch = allnodes/v3.0.0